{% extends 'base.html' %}
{%block content%}
    <div class="container contents" >
        <p class="texts"><span style="font-weight:bold;">자고싶은 시간</span>이 있다면, 알람을 언제 맞춰야 덜 피곤하게 일어날 수 있는지 알려드릴게요!</p>
    </div>
    <div class="container main-content">
        <form class="forms" action="{%url 'now'%}">
            <select name="hour" class="custom-select selects">
              <option selected disabled>시</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select name="time" class="custom-select selects">
                <option selected disabled>분</option>
                <option value="0">0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
              </select>
              <select name="pmam" class="custom-select selects">
                <option selected disabled>오전/오후</option>
                <option value="오전">오전</option>
                <option value="오후">오후</option>
              </select>
              <button type="submit" class="btn btn-default submit_button"><p>에 취침준비!</p></button>
          </form>
    </div>

{%endblock%}
